---
import { getCollection } from "astro:content";
import PageLayout from "../layouts/PageLayout.astro";
import PostEntry from "../components/PostEntry.astro";

const posts = await getCollection("posts");
---

<PageLayout title="Hi! I'm uku">
  <p>i code</p>

  <h2>Posts</h2>
  <ul>
    {
      posts
        .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
        .map((post) => <PostEntry {...post} />)
    }
  </ul>
</PageLayout>
