---
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";
import PageLayout from "../layouts/PageLayout.astro";
import PostEntry from "../components/PostEntry.astro";

const posts = await getCollection("posts");

const links = {
  github: "https://github.com/uku3lig",
  forgejo: "https://git.uku3lig.net",
  modrinth: "https://modrinth.com/user/uku",
  lastdotfm: "https://www.last.fm/user/ukute",
  apachemaven: "https://maven.uku3lig.net",
  discord: "/discord",
  matrix: "https://matrix.to/#/@uku:m.uku.moe",
  twitter: "https://twitter.com/uku3lig",
  youtube: "https://youtube.com/@uku3lig",
  twitch: "https://twitch.tv/uku3lig",
};
---

<PageLayout title="uku's website">
  <p>
    hi! i'm uku, an 18 year old student (currently doing an apprenticeship) who
    loves to mod games (especially Minecraft) and tinker around in my free time.
  </p>

  <p>
    i don't do much stuff outside of coding and playing videogames, so check out
    the links below if you're interested in either of those things!
  </p>

  <p>
    i sometimes (rarely) write <a href="/posts">blog posts</a> about stuff i find
    interesting (or not)!
  </p>

  <h2>Contact me</h2>

  <ul>
    <li>
      <a href={links["matrix"]}>@uku:m.uku.moe</a> on matrix
    </li>
    <li>
      <img class="email" src="/email.png" alt="email" width="100" height="24" />
      via email
    </li>
    <li>
      via my <a href={links["discord"]}>discord server</a>
    </li>
  </ul>

  <h2>Useful links</h2>

  <div class="icons">
    {
      Object.entries(links).map(([name, url]) => (
        <a href={url}>
          <Icon
            name={`simple-icons:${name}`}
            width={32}
            height={32}
            aria-label={name}
          />
        </a>
      ))
    }
  </div>

  <h2>Recent posts</h2>

  <ul>
    {
      posts
        .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
        .slice(0, 3)
        .map((post) => <PostEntry {...post} showDesc={false} />)
    }
  </ul>
</PageLayout>

<style>
  .icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    a {
      transition: color 0.2s;
      color: var(--text-color);
    }

    a:hover {
      color: var(--accent-color);
    }
  }

  h2::before {
    content: "#";
    color: var(--accent-color);
    margin-right: 0.25rem;
  }

  .email {
    vertical-align: middle;
  }
</style>
