---
import { Icon } from "astro-icon/components";
---

<footer>
  <div class="container">
    <ul>
      <li>
        <a href="https://github.com/uku3lig/website">
          <Icon name="simple-icons:git" title="Source code repository" />
        </a>
      </li>
      <li>
        <a href="/rss.xml">
          <Icon name="simple-icons:rss" title="RSS feed" />
        </a>
      </li>
    </ul>
    <p>
      <small>
        Built with <a href="https://astro.build">{Astro.generator}</a>, Inspired
        by <a href="https://aurora.thilohohlt.com/">Astro aurora theme</a>
      </small>
    </p>
  </div>
</footer>

<style>
  footer {
    padding-block: 1rem;
    margin-block-start: 3rem;
    text-align: center;
  }

  .container {
    display: grid;
    place-items: center;
  }

  ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 1rem;
    margin-block: 0;
  }
</style>
