---
import { Image } from "astro:assets";
---

<nav>
  <div class="container">
    <a href="/">
      <Image
        src="https://mc-heads.net/avatar/uku3lig/48"
        width="32"
        height="32"
        alt="uku3lig"
        loading="eager"
      />
    </a>

    <a href="/">home</a>
    <a href="/posts">posts</a>
  </div>
</nav>

<style>
  nav {
    position: sticky;
    inset-block-start: 0;
    background-color: var(--secondary-bg);
  }

  .container {
    display: flex;
    block-size: 3rem;
    align-items: center;
    position: relative;
    gap: 12px;
  }

  .container > *:first-child {
    margin-inline-end: auto;
  }

  a {
    color: var(--text-color);
    text-decoration: none;
  }
</style>
