---
import { Image } from "astro:assets";
---

<nav>
  <div class="container">
    <a href="/">
      <Image
        src="https://mc-heads.net/avatar/uku3lig/48"
        width="32"
        height="32"
        alt="uku3lig"
        loading="eager"
      />
    </a>

    <a href="/">home</a>
    <a href="/posts">posts</a>
    <a href="/projects">projects</a>
  </div>
</nav>

<style>
  nav {
    position: sticky;
    inset-block-start: 0;
    background-color: var(--secondary-bg);
    width: 100%;
  }

  .container {
    display: flex;
    block-size: 3rem;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 12px;
  }

  .container > *:first-child {
    margin-inline-end: auto;
    display: flex;
    align-items: center;
  }

  a {
    color: var(--text-color);
    text-decoration: none;
  }

  a:not(:has(*)):hover {
    background-color: var(--tertiary-bg);
    text-decoration: underline;
  }

  img {
    display: block;
    vertical-align: middle;
    height: 32px;
    width: 32px;
  }

  @media screen and (width <=740px) {
    nav {
      padding-inline: 1rem;
    }
  }
</style>
