---

---

<nav>
  <div class="container">
    <img src="https://mc-heads.net/avatar/uku3lig/32" />
    <a href="/">home</a>
  </div>
</nav>

<style>
  nav {
    position: sticky;
    inset-block-start: 0;
    background-color: var(--secondary-bg);
  }

  .container {
    display: flex;
    block-size: 3rem;
    align-items: center;
    position: relative;
    gap: 8px;
  }

  .container > *:first-child {
    margin-inline-end: auto;
  }

  a {
    color: var(--text-color);
    text-decoration: none;
  }
</style>
